@import '../../node_modules/@angular/material/theming';
@import "color-properties";

//$msda-color-primary mat-palette($mat-green);
$msda-color-primary: mat-palette($msda-primary-color);
$msda-color-accent: mat-palette($msda-accent-color);
$msda-color-warn: mat-palette($msda-warn-color);

$msda-custom-theme: mat-light-theme($msda-color-primary, $msda-color-accent, $msda-color-warn);
