@import '../../node_modules/@angular/material/theming';

@font-face {
  font-family: BPG-DejaVu-Sans;
  src: url(assets/fonts/bpg_dejavu_sans.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(assets/fonts/Montserrat_Bold.ttf);
}

$msda-typography: mat-typography-config(
  $font-family: 'BPG-DejaVu-Sans',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $title: mat-typography-level(2px, 32px, 500, Montserrat-Bold),
  $caption: mat-typography-level(12px, 20px, 400, null, 20px),
  $input: mat-typography-level(inherit, 1.125, 400)
);

$msda-typography2: mat-typography-config(
  $font-family: 'Montserrat-Bold',
  $headline: mat-typography-level(320px, 480px, 700),
  $body-1: mat-typography-level(160px, 240px, 500),
  $button: mat-typography-level(140px, 140px, 500),
  $title: mat-typography-level(20px, 32px, 500, Montserrat-Bold),
  $caption: mat-typography-level(12px, 20px, 400, null, 20px),
  $input: mat-typography-level(inherit, 1.125, 400)
);
