<button mat-button
        color="primary">
  Click me!
</button>

<mat-slide-toggle>Slide me!</mat-slide-toggle>

<mat-checkbox>Check me!</mat-checkbox>

<p>test paragraph</p>

<h4>Basic mat-select</h4>
<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>


<mat-slider></mat-slider>

<!--
<hr>
<span class="icon-youtube"></span>
<span class="icon-amazon"></span>

<img src="../../assets/images/file-icon.svg#msda-file-icon">
<svg id="my-test-icon">
  <use href="../../assets/images/icons.svg#culture"></use>
</svg>
<hr>
-->
