@import '~@angular/material/theming';

@import "color-properties.scss";

@include mat-core();

@font-face {
  font-family: BPG-DejaVu-Sans;
  src: url(../src/assets/fonts/bpg_dejavu_sans.ttf);
}

//$my-test-color-primary: mat-palette($mat-green);
$my-test-color-primary: mat-palette($msda-primary-color);
//$my-test-color-accent: mat-palette($mat-green);
$my-test-color-accent: mat-palette($msda-accent-color);
//$my-test-color-warn: mat-palette($mat-green);
$my-test-color-warn: mat-palette($msda-warn-color);
//$my-test-color: mat-palette(red);

$my-test-theme: mat-light-theme($my-test-color-primary, $my-test-color-accent, $my-test-color-warn);

@include angular-material-theme($my-test-theme);

//$my-test-custom-typography: mat-typography-config(
//  $font-family: 'BPG-DejaVu-Sans',
//  $headline: mat-typography-level(320px, 480px, 700),
//  $body-1: mat-typography-level(160px, 240px, 500),
//  $button: mat-typography-level(140px, 140px, 500)
//);

$my-test-custom-typography: mat-typography-config(
  $font-family: 'BPG-DejaVu-Sans',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
  $button: mat-typography-level(14px, 14px, 500)
);

@include mat-base-typography($my-test-custom-typography);
@include mat-checkbox-typography($my-test-custom-typography);
@include mat-button-typography($my-test-custom-typography);
